.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 32px;
}

.formulario > h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
}

.formulario > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

.formulario > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}

.formulario > form > button {
    border-radius: 8px;
    padding: 12px 20px;
    background-color: var(--main-color);
    border: none;
    color: #FFF;
}

.formulario > form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.formulario > form > input:placeholder{
  color: var(--text-color); 
}

.formulario > form > input {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding-left: 12px;
}